section {
  width: 60%;
  background: azure;
  margin: 10px auto;
  padding: 0 1% 0 1%;
}
.input {
  padding: 0 10px 0 10px;
  font-size: xx-large !important;
  width: 90%;
  text-align: center;
  letter-spacing: 4px;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
